1) A database is an organized system for storing, managing, and retrieving data efficiently.

SQL Databases:

Structured Query Language (SQL): Use SQL for defining and manipulating data.
Schema: Have a fixed schema with predefined tables and relationships.
Data Integrity: Ensure strong data consistency and integrity through ACID (Atomicity, Consistency, Isolation, Durability) properties.
Examples: MySQL, PostgreSQL, Oracle.
NoSQL Databases:

Flexible Schema: Allow for a more flexible, schema-less design.
Types: Include key-value stores, document stores, column-family stores, and graph databases.
Scalability: Often designed to scale horizontally, handling large amounts of unstructured or semi-structured data.
Examples: MongoDB, Cassandra, Redis.

2) DDL (Data Definition Language) manages database structures. Key commands are:

CREATE: Adds new tables or other objects.
DROP: Deletes tables or objects.
ALTER: Modifies existing tables or objects.
TRUNCATE: Clears all data from a table but keeps the table itself.

In [1]:
q1 = 'CREATE TABLE Student'
q2 = 'DROP TABLE Student'
q3 = 'ALTER TABLE Student ADD Address VARCHAR(10)'
q4 = 'TRUNCATE TABLE Student'

3) DML (Data Manipulation Language) deals with the manipulation and retrieval of data within existing database structures.

INSERT: Adds new rows of data to a table.

UPDATE: Modifies existing data in a table.

DELETE: Removes rows of data from a table.

In [2]:
q5 = 'INSERT INTO Student(ID , name) VALUES (142, "AJAY"), (143, "Adam")'
q6 = 'UPDATE Student SET name = "Someone" WHERE name = "Adam"'
q7 = 'DELETE FROM Student WHERE name = "AJAY"'

4) DQL (Data Query Language) is a part of SQL used for querying data from a database.
The SELECT statement is the main command in DQL and retrieves data from one or more tables.
It allows you to specify columns to retrieve, filter results with WHERE, sort with ORDER BY, and group with GROUP BY.

In [3]:
q8 = 'SELECT * FROM Student ORDER BY ID DESC'
q9 = 'SELECT ID FROM Student WHERE ID > 100'

5) Primary Key: Uniquely identifies each record in a table. Must be unique and not null. 

Foreign Key: Links records between tables by referencing the primary key of another table. Ensures referential integrity.

6) cursor() creates a cursor object which is used to interact with the database.
execute() runs SQL queries on the database using the cursor object.
CODE :

In [ ]:
pip install mysql.connector
import mysql.connector
mydb = mysql.connector.connect(
    host = 'localhost'
    user = 'root'
    password = 'root@1234'
)

7) FROM: Selects the tables or views to retrieve data from.
JOIN: Combines rows from different tables based on conditions.
ON: Specifies the join conditions.
WHERE: Filters rows based on specified conditions.
GROUP BY: Groups rows that have the same values into summary rows.
HAVING: Filters groups based on conditions.
SELECT: Chooses columns to be returned in the result.
DISTINCT: Removes duplicate rows (if used).
ORDER BY: Sorts the result set.
LIMIT (or TOP): Restricts the number of rows returned.